section
  h2 Pengembangan Diri
  h4 Nama Anggota :
  pre
    code.language-markup.
      1. Vincent 
      2. Siti Endang 
      3. Khalid Lubis 
      
section 
  h3 4 Kepribadian Manusia
    pre
      code.language-ruby. 
      li Sanguinis
      li Melankolis
      li Koleris
      li Plegmatis   

section 
    img(src="images/Kepribadian.jpg" width="500px" height="400px")

section 
  h3 1. Sanguinis (Si Populer)
  h4 Ciri - ciri :
    pre
      code.language-ruby. 
      li Cenderung ingin populer dan disenangi oleh orang lain;
      li Senang sekali bicara tanpa bisa dihentikan;
      li Sedikit agak pelupa;
      li Sulit berkonsentrasi;
      li Meja kerja cenderung berantakan.

section 
    img(src="images/sanguinis.png" width="500px" height="400px")


section 
  h3 2. Melankolis (Si Sempurna)
  h4 Ciri - ciri :
    pre
      code.language-ruby. 
      li Berseberang dengan sanguinis;
      li Cenderung serba teratur, rapi, terjadwal, tersusun sesuai pola, serba sempurna;
      li Suka pada fakta-fakta, data-data, dan angka-angka;
      li Memikirkan segalanya secara mendalam;
      li Cenderung menganalisa, memikirkan, dan mempertimbangkan.
      

section 
    img(src="images/melankolis.png" width="500px" height="400px") 




section
  h2 Questions?
