section
  h2 Pengembangan Diri
  h4 Nama Anggota :
  pre
    code.language-markup.
      1. Vincent 
      2. Siti Endang 
      3. Khalid Lubis 
      
section 
  h3 4 Kepribadian Manusia
    pre
      code.language-ruby. 
      li Sanguinis
      li Melankolis
      li Koleris
      li Plegmatis   

section 
    img(src="images/Kepribadian.jpg" width="500px" height="400px")

section 
  h3 1. Sanguinis (Si Populer)
  h4 Ciri - ciri :
    pre
      code.language-ruby. 
      li Cenderung ingin populer dan disenangi oleh orang lain;
      li Senang sekali bicara tanpa bisa dihentikan;
      li Sedikit agak pelupa;
      li Sulit berkonsentrasi;
      li Meja kerja cenderung berantakan.
      li <a>https://www.youtube.com/watch?v=Hbz4Tbz1Kmc</a>

section 
    img(src="images/sanguinis.png" width="500px" height="400px")


section 
  h3 2. Melankolis (Si Sempurna)
  h4 Ciri - ciri :
    pre
      code.language-ruby. 
      li Berseberang dengan sanguinis;
      li Cenderung serba teratur, rapi, terjadwal, tersusun sesuai pola, serba sempurna;
      li Suka pada fakta-fakta, data-data, dan angka-angka;
      li Memikirkan segalanya secara mendalam;
      li Cenderung menganalisa, memikirkan, dan mempertimbangkan.
      li <a>https://www.youtube.com/watch?v=Gg_aLDiZ3I4</a>
      

section 
    img(src="images/melankolis.png" width="500px" height="400px") 


section 
  h3 3. Koleris (Si Kuat)
  h4 Ciri - ciri :
    pre
      code.language-ruby. 
      li Suka Mengatur orang lain;
      li Suka tunjuk-tunjuk dan perintah-perintah orang;
      li Perasaan Boss, tidak mau kalah dan tidak banyak teman;
      li Senang tantangan dan bertualang;
      li Merasa, hanya sendiri yang bisa menyelesaikan segalanya.
      li <a>https://www.youtube.com/watch?v=pC3EP8HDsa0</a>
      
section 
  iframe(type='text/html' width='640' height='390'
     src='http://www.youtube.com/embed/pC3EP8HDsa0?autoplay=1&origin=http://khalidlubis.com'
    frameborder='0')      

section 
    img(src="images/Koleris.png" width="500px" height="400px") 


section 
  h3 Phlegmatis (Si Damai)
  h4 Ciri - ciri :
    pre
      code.language-ruby. 
      li Tidak suka terjadi konflik;
      li Kedamaian adalah segalanya;
      li Cenderung diam dan kalem;
      li Sabar & mau menjadi pendengar yang baik;
      li Mengambil keputusan sering menunda-nunda.
      li <a>https://www.youtube.com/watch?v=FbVfWWYxNKM</>
      

section 
    img(src="images/Phlegmatis.png" width="500px" height="400px") 
section
  img(src="images/any.jpg" width="500px" height="400px")
