section
  h2 Pengembangan Diri
  h4 Nama Anggota :
  pre
    code.language-markup.
      1. Vincent 
      2. Siti Endang 
      3. Khalid Lubis 
      
section 
  h3 4 Kepribadian Manusia
    pre
      code.language-ruby. 
      li Sanguinis
      li Koleris
      li Melankolis
      li Plegmatis   


section 
  h3 slide3
    pre
      code.language-ruby. 
      slide 3


section 
  h3 slide 4
    pre
      code.language-ruby. 
      tinggal copy slide ini, 
      jika ingin menambah gambar,
      tambah code seperti slide dibawah

section 
    img(src="images/contoh.png") 


section
  h2 Questions?
